<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>AutoStore</title>
</head>

<body>
    <%- include('./partials/nav.ejs')%>
        <div class="container">
            <h1 class="text-center mt-4">Добавить заказ</h1>
            <form class="col-6 mb-5" method="post" action="/order">
                <div class="mb-3">
                    <label class="form-label">Продукты</label>
                    <select class="form-select" name="product">
                        <% products.forEach(function(product){ %>
                            <option value="<%= product._id%>" class="mb-3" <%=order.product && product._id.toString()==order.product._id.toString() ? 'selected' : '' %>>
                                Имя: <%= product.name %>, Цена:
                                    <%= product.price %>, Поставшик:
                                        <%= product.supplier.fullName %>,
                            </option>
                            <% }); %>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Количество</label>
                    <input type="number" class="form-control" name="quantity" value="<%= order.quantity%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Фио менеджера</label>
                    <input type="text" class="form-control" name="manager" value="<%= order.manager%>">
                </div>
                <input type="hidden" value="<%= order._id ?order._id: '000000000000'  %>" name="_id">
                <button type="submit" class="btn btn-primary">
                    <%= order._id ? 'Изменить' : 'Добавить' %>
                </button>
            </form>
            <hr>
            <% orders.forEach(function(order,index){ %>
                <div class="order mt-4">
                    <div class="h3">
                        <%=order.manager %>
                    </div>
                    <h5>Продукт</h5>
                    <p> Имя:
                        <%= order.product.name %>, Цена:
                            <%= order.product.price %>, Поставшик:
                                <%= order.product.supplier.fullName %>,
                    </p>
                    <p> Количество:
                        <%=order.quantity %>
                    </p>
                    <p> Сумма:
                        <%=order.price %>
                    </p>
                    <p>
                        Дата и Время :
                        <%=new Date(Date.parse(order.orderDate)).toLocaleString() %>
                    </p>
                    <a href="/order/edit/<%= order._id%>" class="btn btn-success">Изменить</a>
                    <a href="/order/delete/<%= order._id%>" class="btn btn-danger">Удалить</a>
                    <hr>
                </div>
                <% })%>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>