<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>AutoStore</title>
</head>

<body>
    <%- include('./partials/nav.ejs')%>
        <div class="container">
            <h1 class="text-center mt-4">Товары у поставщиков</h1>
            <form class="col-6 mb-5" method="post" action="/product_directory">
                <div class="mb-3">
                    <label class="form-label">Имя </label>
                    <input type="text" class="form-control" name="name" value="<%= product.name %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Категории</label>
                    <input type="text" class="form-control" name="category" value="<%= product.category%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Manufacturer</label>
                    <input type="text" class="form-control" name="manufacturer" value="<%= product.manufacturer%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Article</label>
                    <input type="text" class="form-control" name="article" value="<%= product.article%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Цена</label>
                    <input type="number" class="form-control" name="price" value="<%= product.price%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Поставшик</label>
                    <select class="form-select" name="supplier">
                        <% suppliers.forEach(function(supplier){ %>
                            <option value="<%=supplier._id %>" <%=product.supplier && supplier._id.toString()==product.supplier._id.toString() ? 'selected' : '' %>>
                                <%= supplier.fullName%>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <input type="hidden" value="<%= product._id ? product._id: '000000000000'  %>" name="_id">
                <button type="submit" class="btn btn-primary">
                    <%= product._id ? 'Изменить' : 'Добавить' %>
                </button>
            </form>
            <hr>
            <% product_directories.forEach(function(product,index){ %>
                <div class="product_directory mt-4">
                    <div class="h3">
                        <%=product.name %>
                    </div>
                    <p> категория:
                        <%=product.category %>
                    </p>
                    <p>манифактура :
                        <%=product.manufacturer%>
                    </p>
                    <p>aртикул :
                        <%=product.article %>
                    </p>
                    <p>цена :
                        <%=product.price%>
                    </p>
                    <p>поставшик :
                        <%=product.supplier.fullName %>
                    </p>
                    <a href="/product_directory/edit/<%= product._id%>" class="btn btn-success">Изменить</a>
                    <a href="/product_directory/delete/<%= product._id%>" class="btn btn-danger">Удалить</a>
                    <hr>
                </div>
                <% })%>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>