<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>AutoStore</title>
</head>

<body>
    <%- include('./partials/nav.ejs')%>
        <div class="container">
            <h1 class="text-center mt-4">Добавить поставщик</h1>
            <form class="col-6" method="post" action="/">
                <div class="mb-3">
                    <label class="form-label">Фио</label>
                    <input type="text" class="form-control" name="fullName" value="<%= supplier.fullName%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Страна</label>
                    <input type="text" class="form-control" name="country" value="<%= supplier.country%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Адресс</label>
                    <input type="text" class="form-control" name="address" value="<%= supplier.address%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Телефон</label>
                    <input type="text" class="form-control" name="telefone" value="<%= supplier.telefone%>">
                </div>
                <div class="mb-3">
                    <label class="form-label"> Категория</label>
                    <select class="form-select" name="supplierCategory">
                        <% supplier_categories.forEach(function(category){ %>
                            <option value="<%=category.id %>">
                                <%= category.title%>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <input type="hidden" value="<%= supplier._id ?supplier._id: '000000000000'  %>" name="_id">
                <button type="submit" class="btn btn-primary">
                    <%= supplier._id ? 'Изменить' : 'Добавить' %>
                </button>
            </form>
            <h1 class="text-center mt-4">Поставщики</h1>
            <% suppliers.forEach(function(supplier,index){ %>
                <div class="supplier mt-4">
                    <div class="h3">
                        <%=supplier.fullName %>
                    </div>
                    <p>страна :
                        <%=supplier.country %>
                    </p>
                    <p>адресс :
                        <%=supplier.address %>
                    </p>
                    <p>телефоне :
                        <%=supplier.telefone %>
                    </p>
                    <p>категория :
                        <%=supplier.supplierCategory.title %>
                    </p>
                    <a href="edit/<%= supplier._id%>" class="btn btn-success">Изменить</a>
                    <a href="delete/<%= supplier._id%>" class="btn btn-danger">Удалить</a>
                    <hr>
                </div>
                <% })%>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>